
body {
    height: 2000px;
    margin: 0px;
    background-color: black;
    margin-left: 0px;
   
}

.header {
    width: 100%;
    background-color: black;
    height: 100px;
    padding: 10px 50px;
}

.header>div>img {
    margin-top: 15px;
}

.menu>li {
    display: inline-block;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-left: 40px;


}

.containerd-inline {
    display: inline-block;
    vertical-align: middle;
    margin-left: 30px;
}

.button {
    background-color: red;
    color: white;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
}

.poster {
 
    padding: 0px;
    background-position: center;
   
    margin-left: 0px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    object-fit: cover;
    margin-bottom: 0px;
    vertical-align: middle;
    margin-top: 15px;
    margin-right: 150px;
}

.h2 {
    margin-left: 150px;
    font-family: 'serif';
    font-weight: 400;
    font-size: 52px;
    line-height: 62px;
    color: #FFFFFF;
    align-self: center;
    vertical-align: middle;
}

.h2>span {
    font-family: Playfair Display;
}


/* for mobile */
/* @media screen (min-width: 480px) {
    .header{
        flex-direction:row;
    }
}
@media screen (max-width: 1000px) {
    .header{
        flex-direction:column;
    }
} */
.containerboxes{
    display: flex;
    justify-content: space-around;
   
}
div.box1{
    color: black;
    height: 200px;
    height: 200px;
    background-color:#6EBEF3;
    width: 300px;
    height: 215px;
    margin-left: 0px;
   
    
    
}
div.box2{
    color: black;
    background-color:#6EBEF3;
    width: 300px;
    height: 215px;
    margin-left: 0px;
  
    
}
div.box3{
    color: black;
    background-color:#6EBEF3;
    width: 300px;
    height: 215px;
    margin-left: 2px;
   
   
}
