body {
    height: 2000px;
    margin: 0px;
    background-color: black;
    margin-left: 0px;

}

@media screen (max-width: 1300px) {
    body
}

.header {
    width: 100%;
    background-color: black;
    height: 100px;
    padding: 10px 50px;

}

.header>div>img {
    margin-top: 15px;

}

.menu>li {
    display: inline-block;
    color: white;
    font-size: 18px;
    margin-left: 40px;
    font-family: Arial;

    vertical-align: middle;


}

.containerd-inline {
    display: inline-block;

    margin-left: 30px;

}

.button {
    background-color: #ED1C24;
    color: white;
    font-size: 18px;
    font-family: sans-serif;
    border-radius: 35px;
    cursor: pointer;
    padding: 12px 13.5px 12px 13.5px;
    box-sizing: border-box;
    padding: 10px;
    border: 800px;

}

#circlearrow {
    width: 20px;
    height: 20px;
}

.poster {
    margin-top: 50px;
    padding: 0px;
    margin: 0px;



}

.h1 {
    /* font-weight: 400; */
    line-height: 62px;
    margin-left: 400px;
    font-family: 'arial';
    font-weight: bold;
    color: white;
    vertical-align: middle;
    font-size: 70px;
    margin-bottom: 20px;
}

h1 span {
    font-family: 'Playfair Display';
    font-weight: bolder;
}
.h1 p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: medium;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.7);
    margin-left: 200px;
}

/* for mobile */
/* @media screen (min-width: 480px) {
    .header{
        flex-direction:row;

}
@media screen (max-width: 1000px) {
    .header{
        flex-direction:column;
    }
} */


div.box1 {
    color: black;
    background-color: white;
    width: 315px;
    height: 230px;
    margin-left: 125px;
    border-radius: 20px;

}

div.box2 {
    color: black;
    background-color: white;
    width: 315px;
    height: 230px;
    margin-left: 20px;
    border-radius: 20px;
}

div.box3 {
    color: black;
    background-color: white;
    width: 315px;
    height: 230px;
    margin-left: 20px;
    align-self: center;
    border-radius: 20px;

}

.imglazy1 {
    padding: 0px 19px;
    width: 150px;
    height: 150px;
}

.imglazy2 {
    padding: 0px 19px;
    width: 150px;
    height: 150px;
}

.imglazy3 { 
    padding: 0px 19px;
    width: 150px;
    height: 150px;
}

.containerboxes {
    display: flex;

}

.heading {
    padding-top: 70px;
    padding-bottom: 30px;
}

.btn {

    display: flex;
    justify-content: center;
   
}

.product-btn {
    text-align: center;
    display: block;
    width: 174px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 50px;
    color: #FFFFFF;
    margin: 24px 100px;
    

}

.product-btn2 {
    text-align: center;
    display: block;
    width: 174px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 50px;
    color: #FFFFFF;
    margin: 24px 75px;
}

.product-btn3 {
    text-align: center;
    display: block;
    width: 174px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 50px;
    color: #FFFFFF;
    margin: 24px 100px;

  

}