@font-face {
    font-family: Sofia Pro;
    src: url(/font/sofiapro-light.otf);
}

@font-face {
    font-family: pepsi;
    src: url(PEPSI_pl.ttf);
}


body {
    background-color: black;
}

.navbar {
    background-color: #0025FF;
    color: white;
    width: 100%;
    height: 100px;
}

.buypepsiproduct {
    vertical-align: middle;
    font-weight: bold;
    margin-left: 550px;
    display: inline-block;
    font-size: 0.8em;

    padding: 2px 20px;
    border: 2px solid #fff;
    border-radius: 1.8em;
    background: transparent;
    color: #fff;
    font-family: Sofia Pro;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;


}


@-webkit-keyframes tada {
    0% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1)
    }

    10%,
    20% {
        -webkit-transform: scale3d(.9, .9, .9) rotate(-3deg);
        transform: scale3d(.9, .9, .9) rotate(-3deg)
    }

    30%,
    50%,
    70%,
    90% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate(3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate(3deg)
    }

    40%,
    60%,
    80% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg)
    }

    to {
        -webkit-transform: scaleX(1);
        transform: scaleX(1)
    }
}

@keyframes tada {
    0% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1)
    }

    10%,
    20% {
        -webkit-transform: scale3d(.9, .9, .9) rotate(-3deg);
        transform: scale3d(.9, .9, .9) rotate(-3deg)
    }

    30%,
    50%,
    70%,
    90% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate(3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate(3deg)
    }

    40%,
    60%,
    80% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg)
    }

    to {
        -webkit-transform: scaleX(1);
        transform: scaleX(1)
    }
}



.buypepsiproduct:hover {
    background-color: white;
    color: #0025FF;

    -webkit-animation-name: tada;
    animation-name: tada
}





.nav-item>a {
    color: white !important;

}

.nav-item {
    font-family: Sofia Pro;
    margin-right: 2.5rem;
    font-size: 0.9em;
    cursor: pointer;
    font-weight: 600px;
}

.navbar-brand {
    margin-right: 50px;
    margin-left: 30px;
    height: 60px;
    width: 70px;
    margin-bottom: 13px;
}

@-webkit-keyframes rotateIn {
    0% {
        -webkit-transform: rotate(-200deg);
        transform: rotate(-200deg);
        opacity: 0
    }

    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1
    }
}

@keyframes rotateIn {
    0% {
        -webkit-transform: rotate(-200deg);
        transform: rotate(-200deg);
        opacity: 0
    }

    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1
    }
}

.logo:hover {
    -webkit-animation-name: rotateIn;
    animation-name: rotateIn;
    -webkit-transform-origin: center;
    transform-origin: center;
    animation-duration: 0.3s;

}

.firstslider {

    width: 100%;
    height: 650px;
    background-color: #004ED0;

}

.colddrinks {
    width: 600px;
    height: 650px;
    left: -80px;
    margin-left: 0px;
}

/* .buttonofgetitnow{
    background-color: white;
    display: inline-block;
    color: #004ED0;
    border:0px;
    border-radius: 10px;
    font-family: sans-serif;
    /* font-weight: bolder;} */
.text {
    margin-left: 120px;
    width: 492px;
    height: 315px;
}

/* .black {
    background-color: black;
    width: 100%;
    height: 900px;
    z-index: 1000; */


.text2 {
    font-family: "Pepsi";
    font-size: 60px;
    padding: 2rem 0;
    color: #004ED0;
    margin-left: 100px;

}

.td {
    margin-left: 75px;
    border-color: white;
}

.td1 img {
    border-color: black;
    width: 200px;
    height: 200px;

}

.td2 img {
    border-color: black;
    width: 200px;
    height: 200px;
}

.td3 img {
    border-color: black;
    width: 200px;
    height: 200px;
}

.td4 img {
    border-color: black;
    width: 200px;
    height: 200px;
}

.td5 img {
    border-color: black;
    width: 200px;
    height: 200px;
}

.td6 img {
    border-color: black;
    width: 200px;
    height: 200px;
}
@-webkit-keyframes bounce {

    0%,
    20%,
    53%,
    to {
        -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }

    40%,
    43% {
        -webkit-animation-timing-function: cubic-bezier(.755, .05, .855, .06);
        animation-timing-function: cubic-bezier(.755, .05, .855, .06);
        -webkit-transform: translate3d(0, -30px, 0) scaleY(1.1);
        transform: translate3d(0, -30px, 0) scaleY(1.1)
    }

    70% {
        -webkit-animation-timing-function: cubic-bezier(.755, .05, .855, .06);
        animation-timing-function: cubic-bezier(.755, .05, .855, .06);
        -webkit-transform: translate3d(0, -15px, 0) scaleY(1.05);
        transform: translate3d(0, -15px, 0) scaleY(1.05)
    }

    80% {
        -webkit-transition-timing-function: cubic-bezier(.215, .61, .355, 1);
        transition-timing-function: cubic-bezier(.215, .61, .355, 1);
        -webkit-transform: translateZ(0) scaleY(.95);
        transform: translateZ(0) scaleY(.95)
    }

    90% {
        -webkit-transform: translate3d(0, -4px, 0) scaleY(1.02);
        transform: translate3d(0, -4px, 0) scaleY(1.02)
    }
}

@keyframes bounce {

    0%,
    20%,
    53%,
    to {
        -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }

    40%,
    43% {
        -webkit-animation-timing-function: cubic-bezier(.755, .05, .855, .06);
        animation-timing-function: cubic-bezier(.755, .05, .855, .06);
        -webkit-transform: translate3d(0, -30px, 0) scaleY(1.1);
        transform: translate3d(0, -30px, 0) scaleY(1.1)
    }

    70% {
        -webkit-animation-timing-function: cubic-bezier(.755, .05, .855, .06);
        animation-timing-function: cubic-bezier(.755, .05, .855, .06);
        -webkit-transform: translate3d(0, -15px, 0) scaleY(1.05);
        transform: translate3d(0, -15px, 0) scaleY(1.05)
    }

    80% {
        -webkit-transition-timing-function: cubic-bezier(.215, .61, .355, 1);
        transition-timing-function: cubic-bezier(.215, .61, .355, 1);
        -webkit-transform: translateZ(0) scaleY(.95);
        transform: translateZ(0) scaleY(.95)
    }

    90% {
        -webkit-transform: translate3d(0, -4px, 0) scaleY(1.02);
        transform: translate3d(0, -4px, 0) scaleY(1.02)
    }
}
.imgtd1:hover{
    -webkit-animation-name: bounce;
    animation-name: bounce;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom
    }
    .imgtd2:hover{
        -webkit-animation-name: bounce;
        animation-name: bounce;
        -webkit-transform-origin: center bottom;
        transform-origin: center bottom
        }
        .imgtd3:hover{
            -webkit-animation-name: bounce;
            animation-name: bounce;
            -webkit-transform-origin: center bottom;
            transform-origin: center bottom
            }
            .imgtd4:hover{
                -webkit-animation-name: bounce;
                animation-name: bounce;
                -webkit-transform-origin: center bottom;
                transform-origin: center bottom
                }
                .imgtd5:hover{
                    -webkit-animation-name: bounce;
                    animation-name: bounce;
                    -webkit-transform-origin: center bottom;
                    transform-origin: center bottom
                    }
                    .imgtd6:hover{
                        -webkit-animation-name: bounce;
                        animation-name: bounce;
                        -webkit-transform-origin: center bottom;
                        transform-origin: center bottom
                        }

/* .footer{
    background-color:#0025FF;
    width: 100%;
    height: 900px;
    margin-top: 70px;
    width: 100%;
    height: 100%;
    padding: 2.5%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    display: flex;
    justify-content: space-between;
}

.footer__social-link{
color: #fff;
}
.footer__logo_refresh img{
    width: 101px;
    height: 101px;
    display: block;
}
.footer__linklist{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Sofia Pro;
    display: flex;
    align-items:center ;
    justify-content: center;

}
.footer__linklist>link>a{
    color: #fff !important;

    
}
.footer__container-right{
    margin-top: 40px;
}
.link a:hover{
    text-decoration: none;
}
.link a:active{
    text-decoration: none;
}
.link a:visited{
    text-decoration: none;
}
.link a:link{
    text-decoration: none;
} */
.last {
  
    margin-top: 40px;
    background-color: #0025FF;
    width: 100%;
    height: 290px;
    display: flex;
    flex-direction: row;
    flex-shrink: 1;
    vertical-align: middle;



}

.foot {}

.last1 {
    margin-left: 60px;
    color: azure !important;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;


}

.last2 {
    margin-left: 60px;
    margin-top: 50px;
    width: 17%;
    display: inline-block;
    text-align: center;
    margin-bottom: 20px;
    font-family: "Sofia Pro";
    color: azure;
    font-size: 1rem;
    padding-top: 3%;
    text-transform: uppercase;
    vertical-align: middle;

}

.last3 {
    margin-left: 60px;
    width: 17%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-family: "Sofia Pro";
    color: azure;
    font-size: 1rem;
    padding-top: 3%;
    margin-top: 50px;
    text-transform: uppercase;
}

.last4 {
    margin-left: 60px;
    width: 17%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin-top: 50px;
     font-family: "Sofia Pro";
    color: azure;
    font-size: 1rem;
    padding-top: 3%;
    text-transform: uppercase;
}


.last5 {
    margin-left: 60px;
    margin-top: 50px;
    vertical-align: middle;
    margin-top: 40px;
    width: 34%;
    display: flex;
    align-content: center;
    justify-content: center;
}