@font-face {
    font-family: Sofia Pro;
    src: url(/font/sofiapro-light.otf);
}

body {
    background-color: black;
}

.navbar {
    background-color: #0025FF;
    color: white;
    width: 100%;
    height
}

.buypepsiproduct {
    vertical-align: middle;
    font-weight: bold;
    margin-left: 800px;
    display: inline-block;
    font-size: 0.8em;

    padding: 2px 20px;
    border: 2px solid #fff;
    border-radius: 1.8em;
    background: transparent;
    color: #fff;
    font-family: Sofia Pro;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;


}

@-webkit-keyframes tada {
    0% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1)
    }

    10%,
    20% {
        -webkit-transform: scale3d(.9, .9, .9) rotate(-3deg);
        transform: scale3d(.9, .9, .9) rotate(-3deg)
    }

    30%,
    50%,
    70%,
    90% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate(3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate(3deg)
    }

    40%,
    60%,
    80% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg)
    }

    to {
        -webkit-transform: scaleX(1);
        transform: scaleX(1)
    }
}

@keyframes tada {
    0% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1)
    }

    10%,
    20% {
        -webkit-transform: scale3d(.9, .9, .9) rotate(-3deg);
        transform: scale3d(.9, .9, .9) rotate(-3deg)
    }

    30%,
    50%,
    70%,
    90% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate(3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate(3deg)
    }

    40%,
    60%,
    80% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg)
    }

    to {
        -webkit-transform: scaleX(1);
        transform: scaleX(1)
    }
}

.animate__tada {
    -webkit-animation-name: tada;
    animation-name: tada
}




.buypepsiproduct:hover {
    background-color: white;
    color: #0025FF;

        -webkit-animation-name: tada;
        animation-name: tada
    }





.nav-item>a {
    color: white !important;

}

.nav-item {
    font-family: Sofia Pro;
    margin-right: 2.5rem;
    font-size: 0.9em;
    cursor: pointer;
    font-weight: 600px;
}

.navbar-brand {
    margin-right: 50px;
}