body{
    background-color:#2E2D4A;
    color:white;
  
  }
  h1{
 
  }
  #submit{
  margin-top:15px;
  margin-left: 30px;
  width:130px;
  font-family:serif;
  color:blue;
  }
  textarea{
    
    width:210px;
    height:70px;
  }
  